@model  List<Q3.Industro.ModelLayer.Models.Testimonials.TestimonialInformation>

@foreach (var item in Model.Where(x => x.ClientShow == true))
{
    <div class="testimonial-item text-center">
        <div class="testimonial-img position-relative">
            <img class="img-fluid rounded-circle mx-auto mb-5" src="@item.ClientImgUrl">
            <div class="btn-square bg-primary rounded-circle">
                <i class="fa fa-quote-left text-white"></i>
            </div>
        </div>
        <div class="testimonial-text text-center rounded p-4">
            <p>@item.ClientDesc</p>
            <h5 class="mb-1">@item.ClientName</h5>
            <span class="fst-italic">@item.ClientProf</span>
        </div>
    </div>
}